In [9]:
from pyspark.sql import SparkSession
import pandas as pd

In [10]:
spark = SparkSession.builder.getOrCreate()

In [11]:
ler_csv_dados = spark.read.options(header = 'True', inferSchema = 'True', delimiter = ';').csv("./enem2019/DADOS/MICRODADOS_ENEM_2019.csv")

In [12]:

dados_select = ler_csv_dados.select("CO_UF_RESIDENCIA","NU_IDADE","TP_SEXO","TP_ESTADO_CIVIL","TP_ESCOLA","IN_GESTANTE","TP_PRESENCA_CN","TP_PRESENCA_CH","TP_PRESENCA_LC","TP_PRESENCA_MT","NU_NOTA_CN","NU_NOTA_CH","NU_NOTA_LC","NU_NOTA_MT","NU_NOTA_REDACAO","Q006")

In [13]:
dados_select = dados_select.withColumnRenamed("NU_IDADE","IDADE").withColumnRenamed("TP_SEXO","SEXO").withColumnRenamed("TP_ESTADO_CIVIL","ESTADO_CIVIL").withColumnRenamed("TP_ESCOLA","ESCOLA").withColumnRenamed("IN_GESTANTE","GESTANTE").withColumnRenamed("TP_PRESENCA_CN","PRESENCA_CN").withColumnRenamed("TP_PRESENCA_CH","PRESENCA_CH").withColumnRenamed("TP_PRESENCA_MT","PRESENCA_MT").withColumnRenamed("NU_NOTA_CN","NOTA_CN").withColumnRenamed("NU_NOTA_CH","NOTA_CH").withColumnRenamed("NU_NOTA_LC","NOTA_LC").withColumnRenamed("NU_NOTA_MT","NOTA_MT").withColumnRenamed("NU_NOTA_REDACAO","NOTA_REDACAO").withColumnRenamed("Q006","RENDA_FAMILIA")

In [14]:
#dados_select.select('GESTANTE').show()

In [15]:
dados_filtrados = dados_select.filter((dados_select.IDADE > 16) & (dados_select.IDADE < 26) & dados_select.GESTANTE.isin(1) & dados_select.CO_UF_RESIDENCIA.isin(21,22,23,24,25,26,27,28,29))

In [16]:

dados_final = dados_filtrados.toPandas()

In [39]:
dados_final["CO_UF_RESIDENCIA"] = dados_final.CO_UF_RESIDENCIA.replace({ 
    21 :"MA",
    22 :"PI",
    23 :"CE",
    24 :"RN", 
    25 :"PB", 
    26 :"PE", 
    27 :"AL", 
    28 :"SE",
    29 :"BA"
})

dados_final["ESTADO_CIVIL"] = dados_final.ESTADO_CIVIL.replace({ 
    0 :"N INFORMADO",
    1 :"SOLTEIRA",
    2 :"CASADA",
    3 :"DIVORCIADA", 
    4 :"VIUVA", 
})

dados_final["ESCOLA"] = dados_final.ESCOLA.replace({ 
    1 :"SEM RESPOSTA",
    2 :"PUBLICA",
    3 :"PRIVADA", 
    4 :"EXTERIOR", 
})

dados_final["PRESENCA_CN"] = dados_final.PRESENCA_CN.replace({ 
    0 :"FALTOU",
    1 :"PRESENTE",
    2 :"ELIMINADA"
})

dados_final["PRESENCA_CH"] = dados_final.PRESENCA_CH.replace({ 
    0 :"FALTOU",
    1 :"PRESENTE",
    2 :"ELIMINADA"
})

#dados_final["PRESENCA_LC"] = dados_final.PRESENCA_LC.replace({ 
#    0 :"FALTOU",
#    1 :"PRESENTE",
#    2 :"ELIMINADA"
#})

dados_final["PRESENCA_MT"] = dados_final.PRESENCA_MT.replace({ 
    0 :"FALTOU",
    1 :"PRESENTE",
    2 :"ELIMINADA"
})

dados_final['RENDA_FAMILIA'] = dados_final.RENDA_FAMILIA.replace({
    "A":	"Nenhuma renda",
    "B":	"Até R$ 998,00",
    "C":	"De R$ 998,01 até R$ 1.497,00",
    "D":	"De R$ 1.497,01 até R$ 1.996,00",
    "E":	"De R$ 1.996,01 até R$ 2.495,00",
    "F":	"De R$ 2.495,01 até R$ 2.994,00",
    "G":	"De R$ 2.994,01 até R$ 3.992,00",
    "H":	"De R$ 3.992,01 até R$ 4.990,00",
    "I":	"De R$ 4.990,01 até R$ 5.988,00",
    "J":	"De R$ 5.988,01 até R$ 6.986,00",
    "K":	"De R$ 6.986,01 até R$ 7.984,00",
    "L":	"De R$ 7.984,01 até R$ 8.982,00",
    "M":	"De R$ 8.982,01 até R$ 9.980,00",
    "N":	"De R$ 9.980,01 até R$ 11.976,00",
    "O":	"De R$ 11.976,01 até R$ 14.970,00",
    "P":	"De R$ 14.970,01 até R$ 19.960,00",
    "Q":	"Mais de R$ 19.960,00"   
})

In [40]:
dados_final

,CO_UF_RESIDENCIA,IDADE,SEXO,ESTADO_CIVIL,ESCOLA,GESTANTE,PRESENCA_CN,PRESENCA_CH,TP_PRESENCA_LC,PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,NOTA_REDACAO,RENDA_FAMILIA
0,PB,19,F,N INFORMADO,SEM RESPOSTA,1,FALTOU,FALTOU,0,FALTOU,NaN,NaN,NaN,NaN,NaN,"De R$ 998,01 até R$ 1.497,00"
1,BA,21,F,CASADA,SEM RESPOSTA,1,FALTOU,FALTOU,0,FALTOU,NaN,NaN,NaN,NaN,NaN,"Até R$ 998,00"
2,PI,24,F,N INFORMADO,PUBLICA,1,FALTOU,FALTOU,0,FALTOU,NaN,NaN,NaN,NaN,NaN,"Até R$ 998,00"
3,CE,17,F,SOLTEIRA,PUBLICA,1,PRESENTE,PRESENTE,1,PRESENTE,425.7,480.2,526.0,403.6,740.0,"De R$ 998,01 até R$ 1.497,00"
4,CE,18,F,N INFORMADO,PUBLICA,1,FALTOU,PRESENTE,1,FALTOU,NaN,412.6,499.9,NaN,540.0,"Até R$ 998,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,PE,22,F,SOLTEIRA,SEM RESPOSTA,1,FALTOU,FALTOU,0,FALTOU,NaN,NaN,NaN,NaN,NaN,"Até R$ 998,00"
419,PI,25,F,SOLTEIRA,SEM RESPOSTA,1,FALTOU,FALTOU,0,FALTOU,NaN,NaN,NaN,NaN,NaN,"Até R$ 998,00"
420,RN,25,F,N INFORMADO,SEM RESPOSTA,1,PRESENTE,PRESENTE,1,PRESENTE,481.7,432.4,528.3,521.9,540.0,"De R$ 998,01 até R$ 1.497,00"
421,AL,19,F,SOLTEIRA,SEM RESPOSTA,1,PRESENTE,PRESENTE,1,PRESENTE,413.3,384.3,505.6,370.2,480.0,"Até R$ 998,00"
422,PE,19,F,SOLTEIRA,SEM RESPOSTA,1,FALTOU,FALTOU,0,FALTOU,NaN,NaN,NaN,NaN,NaN,"Até R$ 998,00"

In [17]:
import sqlalchemy

In [18]:
engine = sqlalchemy.create_engine(  
    "mysql+mysqlconnector://root:123456@localhost/enem?charset=utf8mb4"
)

In [19]:
dados_final.to_sql("dados_enem2019",con=engine, index=False, if_exists="append" )